doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Login Page
    link(rel="stylesheet" href="/static/login.css")
  body
    div.container
      h2.extra Welcome to Our Dash Board
      p.extra Please log in to access your dashboard.
      form(action="/" method="post")
        | Username: 
        br
        input.inputform(type="text" name="username" required)
        br
        | Password: 
        br
        input.inputform(type="password" name="password" required)
        br
        button(type="submit") Login
      p.extra Don't have an account? 
        a(href="/register") Sign up