doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Project01
  link(rel='stylesheet' href='/static/achievements.css')
.container
  // Sidebar
  aside.sidebar
    .logo
      img(src="/static/photos/dashboard logo.png", alt="")
      h2 Dashboard
    ul.menu
      li
        a(href='/dashboard')
          img(src='/static/photos/overview icon.png' alt='')
          span  Overview 
      li
        a(href='/analyticsoverview')
          img(src='/static/photos/analytics icon.png' alt='')
          span Analytics
      li
        a(href='/goals')
          img(src='/static/photos/goals icon.png' alt='')
          span Goals
      li
        a(href='/calender')
          img(src='/static/photos/calendar icon.png' alt='')
          span Calendar
      li
        a(href='/integration')
          img(src='/static/photos/integrations icon.png' alt='')
          span Integrations
      li
        a(href='/reports')
          img(src='/static/photos/reports icon.png' alt='')
          span Reports
      li.active
        a(href='/achievements')
          img(src='/static/photos/achievements icon.png' alt='')
          span Achievements
      li
        a(href='/settingsprofile')
          img(src='/static/photos/settings icon.png' alt='')
          span Settings
  // main-content
  .main-content
    // Header
    header.achievements-header
      div
        h2 Achievements
        p Celebrate your milestones and accomplishments
    // Achievement Cards
    .achievements-cards
      h3.heading Your Achievements
      .cards
        .card1
          .top
            .left
              span.level Level 2
              div
                h3
                  b  7 
                h3  DAY 
                h3  STREAK 
            .right
              img(src='images/Level 2 icon.png' alt='')
          .middle
            p  fire streak! 
            p  Don&apos;t stop now!
          .bottom
            .level-dots
              #dot-1.dot
              #dot-2.dot
              #dot-3.dot
              #dot-4.dot
              #dot-5.dot
            .bottom-progress
              .progress-bar
                .progress(style='width: 40%')
              span  3/7 
          each achievement in user.achievementlevel
            .top
              .left
                span.level= achievement.level
                div  
                  h3
                    b=  achievement.topic 
              .right
                img(src='images/Level 2 icon.png' alt='')
            .middle
              p=  achievement.name
            .bottom
              .level-dots
                #dot-1.dot
                #dot-2.dot
                #dot-3.dot
                #dot-4.dot
                #dot-5.dot
              .bottom-progress
                .progress-bar
                  .progress(style='width: 40%')
                span=  achievement.progress 
                | /
                span=  achievement.target[0]
        //.card2
        //  .top
        //    h4
        //      b  100 
        //      |  PROBLEMS SOLVED
        //  .middle
        //    img(src='images/Level 2 icon.png' alt='')
        //  .bottom
        //    p  You&apos;re on fire! 
        //    p  Solved 100 leetcode problems 
script(src='achievements.js')
