doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Analytics
    link(rel="stylesheet" href="/static/analyticscalender.css")
  body
    .container
      aside.sidebar
        .logo
          h2 MyDashboard
        ul.menu
          li: a(href="/dashboard") Overview
          li.active: a(href="/analyticsoverview") Analytics
          li: a(href="/goals") Goals
          li: a(href="/calendar") Calendar
          li: a(href="/integration") Integrations
          li: a(href="/insights") Insights
          li: a(href="/reports") Reports
          li: a(href="/achievements") Achievements
          li: a(href="/settingsprofile") Settings

      .main-content
        // Header
        header.analytics-header
          div
            h2 Analytics
            p Deep dive into your productivity

        .tabs
          button(onclick="window.location.href='/analyticsoverview'") Overview
          button(onclick="window.location.href='/analyticsgithub'") Github
          button(onclick="window.location.href='/analyticsleetcode'") Leetcode
          button(onclick="window.location.href='/analyticsspotify'") Spotify
          button(onclick="window.location.href='/analyticscalender'" class="active") Calendar

        .analytics-grid
          .card
            h3 Commits Over Time
            canvas#commitChart
          .card
            h3 Problems Solved
          | 
          .card
            h3 Time Distribution
            canvas#pieChart
          .card
            h3 Productive Hours Heatmap
            canvas#ProductivehrsChart