doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Analytics
  link(rel='stylesheet' href='/static/analyticscalender.css')
.container
  aside.sidebar
    .logo
      img(src='/static/photos/dashboard logo.png' alt='')
      h2 Dashboard
    ul.menu
      li
        a(href='/dashboard')
          img(src='/static/photos/overview icon.png' alt='')
          span  Overview 
      li.active
        a(href='/analyticsgithub')
          img(src='/static/photos/analytics icon.png' alt='')
          span Analytics
      li
        a(href='/goals')
          img(src='/static/photos/goals icon.png' alt='')
          span Goals
      li
        a(href='/integration')
          img(src='/static/photos/integrations icon.png' alt='')
          span Integrations
      li
        a(href='/reports')
          img(src='/static/photos/reports icon.png' alt='')
          span Reports
      li
        a(href='/achievements')
          img(src='/static/photos/achievements icon.png' alt='')
          span Achievements
      li
        a(href='/settingsprofile')
          img(src='/static/photos/settings icon.png' alt='')
          span Settings
  .main-content
    // Header
    header.analytics-header
      div
        h2 Analytics
        p  Deep dive into your productivity 
    .tabs
     button(onclick="window.location.href='/analyticsgithub'") Github
     button(onclick="window.location.href='/analyticsleetcode'") Leetcode
     button(onclick="window.location.href='/analyticsspotify'") Spotify
     button(onclick="window.location.href='/analyticscalender'"  class="active") Calendar
    section.analytics-cards
      .card
        .left &#x1F55D;
        .right
          h4 Total Events
          div
            b 26
          span &uarr; 22% vs last 7 days 
      .card
        .left &#x1F55D;
        .right
          h4 Scheduled Time
          div
            b 34h 20m
          span &uarr; 15% vs last 7 days 
      .card
        .left &#x1F55D;
        .right
          h4 Avg. Event Duration
          div
            b 42min
          span &uarr; 12% vs last 7 days 
      .card
        .left &#x1F55D;
        .right
          h4 Free Time
          div
            b 21h 30m
          span &darr; 4% vs last 7 days 
    section.top-widgets
      #box-1
      #box-2.box
        .heading
          div
            h4 Today&apos;s Schedule
            p July 06 2026
          button.btn View Full Day &gt;
        .schedule
          .schedulename
            p  09:15 AM &nbsp; &nbsp;| 
            span Team Standup
          .scheduleduration
            | 1hr
        .schedule
          .schedulename
            p  10:00 AM &nbsp; &nbsp;| 
            span Project Review
          .scheduleduration
            | 45min
        .schedule
          .schedulename
            p  11:30 AM &nbsp; &nbsp;| 
            span Client Call
          .scheduleduration
            | 1hr
        .schedule
          .schedulename
            p  01:00 PM &nbsp; &nbsp;| 
            span Lunch Break
          .scheduleduration
            | 40min
        .schedule
          .schedulename
            p  02:30 PM &nbsp; &nbsp;| 
            span Design Discussion
          .scheduleduration
            | 30min
        .schedule
          .schedulename
            p  04:00 PM &nbsp; &nbsp;| 
            span Project Presentation
          .scheduleduration
            | 30min
      #box-3.box
        .heading
          h4 Upcoming Events
          button.btn View All &gt;
        .events
          .event
            .left &bull;
            .eventname
              h5  Gym Session
              p Today &bull; 06:00 PM
          .event
            .left &bull;
            .eventname
              h5  Doctor Appointment
              p Tomorrow &bull; 10:00 AM
          .event
            .left &bull;
            .eventname
              h5  Hackathon 
              p July 12 &bull; 09:00 AM
          .event
            .left &bull;
            .eventname
              h5  Flight to Indore 
              p July 15 &bull; 08:30 AM
          .event
            .left &bull;
            .eventname
              h5  Team Outing 
              p July 16 &bull; 05:00 PM
    section.bottom-widgets
      #item-1
      #item-2
      #item-3.box
        .heading
          h4 Insights
        .item
          .left &#x1F3B5;
          .right
            p
              b You scheduled 18% more events this week.
            p Great job staying productive!
        .item
          .left &#x2B50;
          .right
            p
              b Thursday is your busiest day.
            p You have 8 hours of scheduled events.
        .item
          .left &#x1F525;
          .right
            p
              b Your avarage meeting duration is 48 min.
            p Ideal meeting length!
        .item
          .left &#x1F375;
          .right
            p
              b You have the most free time on Saturday.
            p Enjoy your free time!
script(src='https://cdn.jsdelivr.net/npm/apexcharts')
script(src='/static/analyticscalender.js')
