doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Basic Details
    link(rel="stylesheet", href="/static/basic.css")
  body
    .container
      h2 Welcome and thanks for register to our website.
      p Here I want to share some information with you.
      p
        | The user name will be your 
        em: strong REGISTERED EMAIL
        | .
      p So be in mind your crendidetails.
      p Thanks for reading .
      p Please press continue to go to login page!
      button#continue(onclick="window.location.href='/'") Continue