doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Contact
        link(rel="stylesheet" href="/static/contact.css")
    body
        .container 
            h3 Our service is vertily available on various platform.
            p#other Please select the most appropriate for your purpose.
            div.variable
                p.inline For Whatsapp Contact 
                button Click 
                br
            div.variable
                p.inline For Instagram Contact 
                button(onclick='window.location.href="https://www.instagram.com/bhaskar__dhakad/"') Click
                br
            div.variable
                p.inline For Email Contact
                button#email Click
                br
            div.variable
                p.inline For Facebook Contact
                button Click
            button#back(onclick="window.location.href='/settingshelp'") Back