doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Invalid Details
    link(rel="stylesheet" href="/static/invaliddetails.css")
  body
    div.container
      h1 You have entered invalid details.
      h3 To go to login page plese click the button below!
      button(onclick="window.location.href='/'") Continue to Login Page