doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Invalid Password
    link(rel="stylesheet" href="/static/invaliddetails.css")
  body
    div.container
      h1 You have entered invalid password.
      h3 To go to reset password page, plese click the button below!
      button(onclick="window.location.href='/settingsprivacy'") Continue to password reset Page