doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' href='/static/newgoals.css')
.container
  h3 Please select the below options as per your requirements
  .form
    form(action='/newgoals' method='post')
      .setgoals
        | Type : 
        select(name='type')
          option(value='weekly') Weekly
          option(value='monthly') Monthly
          option(value='custom') Custom
        | Goal : 
        select(name='goal')
          option(value='spotifyhours') Listen the music on Spotify.
          option(value='addeventcalender') Add event on Calender
          option(value='addcommitgithub') Add commit on Github
          option(value='leetcodeproblem') Problem solve on Leetcode
          option(value='codeforcesproblem') Problem solve on Codeforces
        | Total Target : 
        input(type='number' name='target')
        | Deadline : 
        input(type='date' name='deadline')
      .submission
        button(type='button' onclick="window.location.href='/goals'") Back
        div
          input(type='submit' value='Submit')
          input(type='reset' value='Reset')
