doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Settings
    link(rel="stylesheet" href="/static/settingsprivacy.css")
  body
    .container

      // Sidebar
      aside.sidebar
        .logo
          h2 My Dashboard
        ul.menu
          li: a(href="/dashboard") Overview
          li: a(href="/analyticsoverview") Analytics
          li: a(href="/goals") Goals
          li: a(href="/calendar") Calendar
          li: a(href="/integration") Integrations
          li: a(href="/reports") Reports
          li: a(href="/achievements") Achievements
          li.active: a(href="") Settings

      // Main Content
      main.main-content

        // header
        header.settings-header
          div
            h2 Settings
            p Manage your account preferences and application settings.

        .settings-page
          .settings-bar
            button(onclick="window.location.href='/settingsprofile' ") Profile
            button(onclick="window.location.href='/settingsnotifications' ") Notifications
            button.active(onclick="window.location.href='/settingsprivacy' ") Privacy &amp; Security
            button(onclick="window.location.href='/settingstheme' ") Theme
            button(onclick="window.location.href='/settingshelp' ") Help &amp; Feedback
            button(onclick="window.location.href='/settingslogout' ") Log Out

          .privacyandsecurity-page
            h3 Privacy and Security
            
            .privacyandsecurity-set
              h4 Change Password
              
              form.set-password#formid(action="/settingsprivacy" method="post")
                label(for="current-pass") Current Password: 
                input#current-pass(type="password", name="current", required)
                
                label(for="new-pass") New Password: 
                input#new-pass(type="password", name="newpassword" , required)
                
                p#error_message

                label#confirm(for="confirm-pass") Confirm New Password: 
                input#confirm-pass(type="password", name="confirm_password" , required)
                
                button#submitbtn(type="submit") Update Password
    script(src="/static/settingsprivacy.js")
