doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Settings
  link(rel='stylesheet' href='/static/settingsnotifications.css')
.container
  // Sidebar
  aside.sidebar
    .logo
      h2 My Dashboard
    ul.menu
        li: a(href="/dashboard") Overview
        li: a(href="/analyticsoverview") Analytics
        li: a(href="/goals") Goals
        li: a(href="/calendar") Calendar
        li: a(href="/integration") Integrations
        li: a(href="/reports") Reports
        li: a(href="/achievements") Achievements
        li.active: a(href="") Settings
  main.main-content
    // header
    header.settings-header
      div
        h2  Settings 
        p  Manage your account preferences and application settings. 
    .settings-page
      .settings-bar
        button(onclick="window.location.href='/settingsprofile' ") Profile
        button.active(onclick="window.location.href='/settingsnotifications' ") Notifications
        button(onclick="window.location.href='/settingsprivacy' ") Privacy &amp; Security
        button(onclick="window.location.href='/settingstheme' ") Theme
        button(onclick="window.location.href='/settingshelp' ") Help &amp; Feedback
        button(onclick="window.location.href='/settingslogout' ") Log Out
      .notifications-page
        h3 Notifications
        .items-container
          .notification-item
            div
              h4 Goal Reminders
              p Get reminders for your goals.
            label.switch
              input(type='checkbox' checked='')
              span.slider
          .notification-item
            div
              h4 Weekly Summary
              p Receive weekly progress reports.
            label.switch
              input(type='checkbox' checked='')
              span.slider
          .notification-item
            div
              h4 Product Updates
              p Receive updates about new features.
            label.switch
              input(type='checkbox' checked='')
              span.slider
          button.save-btn Save Changes
