@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

body {
    background-image: url(/static/photos/background.png);

}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 100px auto;
    color: black;
    height: 70vh;
    width: 350px;
    border-radius: 25px;
    border: 1px solid black;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    padding: 20px;
}

.extra {
    text-align: center;
    justify-content: center;
}

.inputform {
    border-radius: 8px;
    background-color: rgb(224 222 222);
    padding: 3px 7px;
}

button {
    align-self: center;
    background-color: #281f1f;
    color: azure;
    cursor: pointer;
    border-radius: 20px;
    padding: 5px 25px;
    font-weight: 600;
}

button:hover {
    background-color: black;
    font-weight: 700;
}

a {
    color: rgb(5, 78, 176);
}

a:hover {
    color: rgb(85, 75, 75);
}