/* css lalyout */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    min-height: 100vh;
    z-index: 10;
}

/* sidebar css */

.sidebar ul li {
    margin: 12px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #222;
    border-radius: 50px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 15px;
    gap: 10px;
}

.sidebar ul li.active a {
    background: #3a4ccd;
    color: white;
    font-weight: 600;
}

.sidebar {
    width: 260px;
    background: white;
    padding: 20px;
    border-right: 1px solid #ddd;
}

.logo {
    display: flex;
    margin-bottom: 40px;
}

.logo img {
    width: 70px;
    height: 115px;
    margin: -40px 0px -50px -5px;
}

.logo h2 {
    color: rgb(46, 46, 230)
}

.menu {
    list-style: none;
}

.menu img {
    width: 40px;
    height: 40px;
}

.menu a:hover {
    border-radius: 50px;
    background: hsl(234, 100%, 69%);
    color: white;
    font-weight: 600;
}


/* .main-content */
.main-content {
    flex: 1;
    padding: 20px;
    background-color: rgb(219, 237, 245);
}



/* header css */
.responsive-header {
    display: none;
}

.settings-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.settings-header h2 {
    margin-bottom: 5px;
}

.settings-header p {
    color: #777;
}


/* Settings Page */
.settings-page {
    display: grid;
    grid-template-columns: 2fr 5fr;
    margin-top: 50px;
}


/* settings-bar */
.settings-bar {
    margin-right: 40px;
    background-color: rgb(219, 237, 245);
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.settings-bar img {
    width: 50px;
    height: 50px;
}

.settings-bar button {
    display: flex;
    align-items: center;
    justify-content: left;
    border: none;
    cursor: pointer;
    background: white;
    padding: 5px 0px 0px 30px;
    border-bottom: 1px solid rgb(12, 12, 12);
    font-weight: 600;
    font-size: 17px;
    border-radius: 30px;
    margin: 7px 0px;
}

.settings-bar button.active {
    border-bottom: 4px solid rgb(45, 42, 42);
    background: #d1d0d0;
    padding: 5px 0px 2px 30px;
}

.settings-bar button:hover {
    border-bottom: 4px solid rgb(45, 42, 42);
    background: #f7f1f1;
    padding: 5px 0px 2px 30px;
}


/* notifications page */

.notifications-page {
    margin-left: 3px;
    border: 2px solid rgb(121, 115, 115);
    height: 107%;
    background-color: white;
    border-radius: 15px;
    font-size: 17px;
}

.notifications-heading {
    padding: 18px 15px 15px 15px;
    border-bottom: 1px solid rgb(121, 115, 115)
}

.items-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 10px 10px 15px;
}


.notification-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
    border-bottom: 1px solid #d8d8d8;
}


.notification-item h4 {
    margin-bottom: 3px;
}

.notification-item p {
    color: #666;
    font-size: 14px;
}

.switch {
    position: relative;
    width: 50px;
    height: 26px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    inset: 0;
    background: #ccc;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.slider::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    left: 3px;
    top: 3px;
    background: white;
    border-radius: 50%;
    transition: 0.3s;
}

.switch input:checked+.slider {
    background: #5B6EF5;
}

.switch input:checked+.slider::before {
    transform: translateX(24px);
}

.save-btn {
    width: 150px;
    margin: 40px 0px 20px 0px;
    padding: 12px 24px;
    background: #213af9;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.save-btn:hover {
    opacity: 0.9;
    font-weight: 600;
}








/* CSS FOR RESPONSIVENESS */

/* Large Tablets */
@media (max-width: 1400px) {

    .container {
        flex-direction: column;
    }

    .main-content {
        padding: 15px;
    }

    .sidebar {
        display: none;
    }

    .responsive-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: white;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
        margin-bottom: 15px;
        position: sticky;
        top: 10;
        z-index: 15;
    }

    .responsive-header .header-left {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .responsive-header .menu-btn {
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        color: #222;
        padding: 0;
    }

    .responsive-header h2 {
        font-size: 22px;
        color: #3a4ccd;
        font-weight: 700;
    }

    .responsive-header .header-right {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .responsive-header .profile-logo {
        margin-left: 0;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        object-fit: cover;
        background-color: #e2e8f0;
    }

    .responsive-header .notifications-icon {
        width: 35px;
        height: 30px;
    }

    .overview-header .notifications-icon {
        width: 47px;
        height: 35px;
    }

    .notification-wrapper {
        position: relative;
        display: inline-block;
    }

    .badge {
        position: absolute;
        top: -5px;
        right: -5px;
        background-color: red;
        color: white;
        border-radius: 50%;
        padding: 2px 6px;
        font-size: 10px;
        font-weight: bold;
    }

    .settings-page {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 2fr 30fr;
        column-gap: 15px;
    }

    .settings-bar {
        background: white;
        border-radius: 30px;
        width: fit-content;
        margin-right: 5px;
        padding: 0px 5px;
    }

    .settings-bar button span {
        display: none;
    }

    .settings-bar button {
        padding: 5px;
    }

    .settings-bar button.active {
        padding: 5px;
    }

    .settings-bar button:hover {
        padding: 5px;
    }

    .settings-bar img {
        width: 30px;
        height: 30px;
    }

    .notifications-page {
        height: fit-content;
        width: auto;
    }

}

/* Tablets */
@media (max-width: 992px) {}

/* Mobile */
@media (max-width: 600px) {
    .main-content {
        font-size: 0.9rem;
    }

    .items-container {
        font-size: 0.9rem;
    }

    .notifications-heading {
        padding: 13px 10px;
    }

}

@media (max-width: 450px) {
    .main-content {
        font-size: 0.8rem;
    }

    .settings-page {
        column-gap: 10px;
    }

    .switch {
        position: relative;
        width: 40px;
        height: 20px;
    }

    .slider {
        position: absolute;
    }

    .slider::before {
        position: absolute;
        width: 15px;
        height: 15px;
        top: 2.5px;
        left: 3px;
    }

    .switch input:checked+.slider::before {
        transform: translateX(20px);
    }

    .notifications-page button {
        padding: 10px 18px;
    }

    .notification-item p {
        font-size: 13px;
    }

}

@media (max-width:390px) {

    .notification-item p {
        font-size: 12px;
    }

    .switch {
        position: relative;
        width: 40px;
        height: 20px;
    }

    .slider {
        position: absolute;
    }

    .slider::before {
        position: absolute;
        width: 15px;
        height: 15px;
        top: 2.5px;
        left: 3px;
    }

     .switch input:checked+.slider::before {
        transform: translateX(17px);
    }

}

@media (max-width: 1400px) and (min-width: 1200px) {}
